@import "./variables.scss";

@mixin drop-shadow {
  -webkit-box-shadow: 18px 16px 28px 0px rgba(150, 150, 150, 0.7);
  -moz-box-shadow: 18px 16px 28px 0px rgba(150, 150, 150, 0.7);
  box-shadow: 18px 16px 28px 0px rgba(150, 150, 150, 0.7);
}

@mixin flex($direction, $justify: stretch, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin small {
  @media (min-width: $sm-width) {
    @content
  }
}

@mixin medium {
  @media (min-width: $md-width) {
    @content
  }
}

@mixin large {
  @media (min-width: $lg-width) {
    @content
  }
}

@mixin xlarge {
  @media (min-width: $xl-width) {
    @content
  }
}
