$blue : #00aaff;
$white: #e8e8e8;
$light-gray: #c2c2c2;
$gray: #7e7e7e;
$black: #1a1a1a;
$red: #d71b1b;

$ease-transition : all 0.5s;
$slow-transition: all 1s;
$rounded: 8px;

$sm-width: 550px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1440px;